# Node modules
node_modules/
frontend/node_modules/

# Environment variables
.env
frontend/.env

# Ignore environment variables file
.env

# Logs
logs/
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Build artifacts
dist/
build/

# IDE-specific files
.vscode/
.idea/

# Other
npm-debug.log*
yarn-debug.log*
yarn-error.log*